{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="row">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">{{ blog.title }}</h1>
                <p class="lead my-3">{{ blog.description }}</p>
            </div>
            <div class="col-md-6 px-0">
                <img class="card-img-right img-cover flex-auto d-none img-fluid d-md-block" src="/uploads/images/{{ blog.id }}/{{ blog.path }}"
                     alt="Card image cap">
            </div>
        </div>
    </div>
{% endblock %}
