<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12 text-center">
                <a class="blog-header-logo text-dark" href="{{ path('default') }}">Hello World</a>
            </div>
        </div>
    </header>
</div>
