{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-2">
    {% for blog in blogs %}
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">{{ blog.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{ blog.createdAt|date('M d') }}</div>
                    <p class="card-text mb-auto">{{ blog.description }}</p>
                    <a href="{{ path('blog_show', {'slug': blog.slug}) }}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="/uploads/images/{{ blog.id }}/{{ blog.path }}"
                     alt="Card image cap">
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
