<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% include 'layout/head.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>

<body>

{{ navbar() }}

<main role="main" class="container">
    {% block body %}{% endblock %}
</main><!-- /.container -->

{{ footer() }}

{% include 'layout/foot.html.twig' %}
{% block javascripts %}{% endblock %}
</body>

</html>

